<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户面板</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/public.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="../../static/js/base.js"></script>
    <style>
        #message-box {
            /* 父容器设置宽度, 并超出部分不显示 */
            height: 350px;
            overflow: hidden;
        }

        #message-box > div {
            /* 子容器比父容器的宽度多 17 px, 经测正好是滚动条的默认宽度 */
            height: 350px;
            line-height: 20px;
            overflow-y: scroll;
        }

        .model-hide {
            display: none;
        }

        .icon-font-size {
            font-size: 12px;
        }

    </style>
</head>
<body>
<div class="container-fluid">

    <div class="col-md-8 order-model">
        <div class="panel panel-default">
            <div class="panel-heading">订单板块</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">已购买商品</div>
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <tbody id="buyed-product">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 product-customer">
                        <div class="panel panel-default">
                            <div class="panel-heading">门店客服</div>
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <i id="qx">点击"联系客服"找客服噢...</i>
                                    <tbody id="kf_items"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 product-model">
        <div class="panel panel-default">
            <div class="panel-heading">商城板块</div>
            <div class="panel-body">
                <table class="table">
                    <tbody id="product_items">

                    </tbody>
                </table>
                <div class="row text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="javascript:;" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;">5</a></li>
                            <li>
                                <a href="javascript:;" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-8 col-sm-offset-2 message-model model-hide">
        <div class="panel panel-default">
            <div class="panel-heading">聊天板块</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <strong>Tips:</strong> <br>1.&nbsp;&nbsp;按Enter键发送消息<br>2.&nbsp;&nbsp;连续按两次Esc键推出聊天窗口
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">聊天框</div>
                            <div class="panel-body" style="padding: 2px;">
                                <textarea class="form-control" id="textarea_warp" rows="17"
                                          placeholder="按Enter发送"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="msg-items">聊天记录</div>
                            <div class="panel-body" id="message-box">
                                <div id="message-items">
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                    <p class="message-items">这是一段测试文字，文本超出部分滚动显示，滚动条隐藏.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="to_user_id" value=""/>
    <input type="hidden" name="from_user_id" value=""/>
    <input type="hidden" name="to_user_name" value=""/>

    <video id="music" preload="metadata">
        <source src="../../static/music/message-music.mp3">
    </video>
</div>
<script>

    $(function () {
        getNode("customer", localStorage.getItem(CUSTOMER_UID)).then(function(){
            window.ws.onopen = function () {
                console.log("websocket connnect success...");
            };

            window.ws.onclose = function (evt) {
                console.log("websocket connnect close...");
            };

            window.ws.onerror = function (evt) {
                console.log("websocket error...");
            };

            window.ws.onmessage = function (evt) {
                console.log("收到信息:", evt.data)
            };
        });
        function getAllProduct(page, limit, uid) {
            var params = {page: page, limit: limit, uid: uid}
            $.ajax({
                url: "http://www.swoole_client.com:8088/product/getAllProduct",
                type: "get",
                data: params,
                success: function (data) {
                    if (data.code == 200) {
                        if (parseInt(data.data.pager.count) <= 0) {
                            return false;
                        } else {
                            var html = "";
                            for (product in data.data.products) {
                                product_object = JSON.parse(data.data.products[product]);
                                html += "                    <tr>\n" +
                                    "                        <td>" + product_object.product_name + "</td>\n" +
                                    "                        <td><a data-product-num=" + product_object.product_num + " data-product-id=" + product_object.product_id + " data-product-name=" + product_object.product_name + " data-store-id=" + product_object.store_index + " href=\"javascript:;\" class=\"glyphicon glyphicon-plus add-product icon-font-size\"></a></td>\n" +
                                    "                    </tr>"
                            }
                            $('#product_items').append(html);
                        }
                    }
                }
            });
        }

        getAllProduct(1, 10, localStorage.getItem(CUSTOMER_UID))

        function getUserBuyProduct() {
            $.ajax({
                url: "http://www.swoole_client.com:8088/UserProduct/getUserProducts",
                type: "post",
                data: {uid: localStorage.getItem(CUSTOMER_UID)},
                success: function (data) {
                    if (data.data.length > 0) {
                        $('#buyed-product').html("");
                        var html = "";
                        for (var i = 0; i < data.data.length; i++) {
                            html += '                                    <tr>\n' +
                                '                                        <td>' + data.data[i].product_name + '</td>\n' +
                                '                                        <td width="30%;"><i class="glyphicon glyphicon-user"></i>&nbsp;<a href="javascript:;" data-product-name="' + data.data[i].product_name + '" data-product-id="' + data.data[i].product_id + '" data-store-id="' + data.data[i].store_index + '" class="lxkf" >联系客服</a></td>\n' +
                                '                                    </tr>';
                        }
                        $('#buyed-product').append(html);
                    }
                }
            });
        }

        getUserBuyProduct();

        $('#buyed-product').on('click', '.lxkf', function (evt) {
            var store_id = $(evt.target).attr('data-store-id');
            $.ajax({
                url: "http://www.swoole_client.com:8088/store/getStoreProvider",
                type: "post",
                data: {store_id: store_id, uid: localStorage.getItem(CUSTOMER_UID)},
                success: function (data) {
                    $('#qx').html('');
                    $('#kf_items').html('');
                    if (data.code == 200) {
                        var html = "";
                        for (var i = 0; i < data.data.length; i++) {
                            html += '<tr>\n' +
                                '                        <td>' + data.data[i].user_name + '</td>\n' +
                                '                        <td width="30%;"><i class="glyphicon glyphicon-envelope"></i>&nbsp;<a href="javascript:;" data-to-user-name="' + data.data[i].user_name + '" data-to-uid="' + data.data[i].uid + '" data-other-id="' + data.data[i].store_index + '" class="call-customer">消息(0)</a></td> \n' +
                                '                    </tr>';
                        }
                        $('#kf_items').append(html);
                    } else {
                        $('#kf_items').html("该门店没有找到客服...");
                    }
                }
            });
        })

        $('#kf_items').on('click', '.call-customer', function (evt) {
            $('.message-model').removeClass('model-hide');
            $('.order-model').addClass('model-hide');
            $('.product-model').addClass('model-hide');
            $("input[name='to_user_name']").val("");
            $("input[name='to_user_id']").val("");
            $("input[name='from_user_id']").val("");
            var to_user_name = $(evt.target).attr("data-to-user-name");
            var to_user_uid = $(evt.target).attr("data-to-uid");
            var from_user_id = localStorage.getItem(CUSTOMER_UID);
            $("input[name='to_user_name']").val(to_user_name)
            $("input[name='to_user_id']").val(to_user_uid)
            $("input[name='from_user_id']").val(from_user_id)
            $('#msg-items').html("与【" + to_user_name + "】的聊天记录")
        });

        $('#product_items').on('click', '.add-product', function (evt) {
            var params = {
                store_id: $(evt.target).attr('data-store-id'),
                product_id: $(evt.target).attr('data-product-id'),
                uid: localStorage.getItem(CUSTOMER_UID)
            }
            $.ajax({
                url: "http://www.swoole_client.com:8088/product/buyProduct",
                type: "post",
                data: params,
                success: function (data) {
                    if (200 != data.code) {
                        alert(data.data);
                    } else {
                        alert("购买产品成功...");
                        getUserBuyProduct();
                    }
                }
            });
        })

        function talk() {
            if (null == window.ip) {
                console.log("not found ip")
                return false;
            }
            var to_user_name = $("input[name='to_user_name']").val();
            var to_user_id = $("input[name='to_user_id']").val();
            var from_user_id = $("input[name='from_user_id']").val();
            if (!to_user_name || !to_user_id || !from_user_id) {
                console.log("params error")
                return false;
            }
            var message = $('#textarea_warp').val();
            if (!message) {
                console.log("content is empty")
                return false;
            }
            $.ajax({
                url: "http://" + window.ip,
                type: "post",
                data: {action: "send", from_user_id: from_user_id, to_user_id: to_user_id, message: message},
                success: function (data) {
                    console.log("talk response: ", data)
                }
            });
        }

        var t_esc = 0;
        $("body").keyup(function (event) {
            if ($('.message-model').hasClass('model-hide')) {
                return false;
            }
            if (event.keyCode == 13) {
                talk()
                $('#textarea_warp').val("");
            }
            if (event.keyCode == 27) {
                t_esc++;
            } else {
                if (t_esc > 0) {
                    t_esc = 0;
                }
            }
            if (t_esc == 2) {
                t_esc = 0;
                $('.message-model').addClass('model-hide');
                $('.order-model').removeClass('model-hide');
                $('.product-model').removeClass('model-hide');
                $("input[name='to_user_name']").val("");
                $("input[name='to_user_id']").val("");
                $("input[name='from_user_id']").val("");
            }
        });
    });


</script>
</body>
</html>